<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header') %>
    <header>
        <title>Home</title>
    </header>
<body>
    <%- include('./partials/navbar') %>
    <h2>Admin Page</h2>
    <%- include('./partials/scripts') %>
</body>

</html>